{% extends "base.html" %}

{% block Content %}
		<div id="About" class="bl12 fc pd10">
			<h2 class="mt10 pt10">Hakkımda</h2>
			<article class="globalContainer pt10">
			<div class="bl12 fbl fl mb10">
				<div class="bl4 fl">
					<div class="aboutImg">
					<img src="{{STATIC_URL}}imgs/about.jpg">
					</div>
				</div>
				<div class="bl8 fl">
					<h3>Erhan Başa</h3>
					<p>1992 doğumlu  |  İstanbul, Ümraniye </p>
					<h4 class="strfont mt10">Eğitim :</h4>
					<p> Marmara Üniversitesi (Fizik) </p>
					<p>Açıköğretim (Medya ve İletişim) </p>
					<h4 class="mt10 strfont">Deneyim : </h4>
					<p>- Tacirnet - Front End Developer (1 Yıl 9 ay)</p>
					<p>- Dev Internet - Front End Developer (2 Ay)</p>
				</div>
			</div>

			<h3 class="strfont pt10">Tacirnet (2011-2013)</h3>
			<p>
				<span class="strfont">Tacirnet</span> e-ticaret yazılımında yaklaşık iki yıl boyunca pek çok konumda görev aldım. <span class="strfont">Tester</span> olarak başladığım sistemde 3-4 ay kadar browser uyumluluğu konusunda epey bir gözlem yapma fırsatım oldu ve çözümleri ile uğraşacak vaktim oldu, bu sayede sisteme ufak ufak adapte olurken <span class="strfont">Python/Django</span> dilinin yapısına ve sistemede aşina oluyordum sonra template tarafına düzeltme ve revizeler ile başladıktan sonra <span class="strfont">Tacirnet</span> altyapısındaki ilk uygulamalarımı çıkartmaya başladım. 
			</p>
			<p>
				E-ticaret yazılımının yanısıra kurumsal destek vermeye karar verince şirket, kurumsal tarafta <span class="strfont">front end developer</span> olarak göreve başladım. Orada <span class="strfont">Wordpress</span> üzerinde ufak bir framework oluşturarak hızlı çözüm oluşturma kararı aldık, bu sürede <span class="strfont">PHP</span> syntaxı ile tanışma fırsatı buldum. Bu sistemin oluşması süresinde iş yoğunluğu olmadığı için tasarım ile tanışma fırsatı buldum. Yaklaşık 4-5 ay bu sistem üzerinde çalışsakta bir takım aksilikten dolayı kurumsal destek kesildi, bende e-ticaret kısmına <span class="strfont">front end developer</span> olarak döndüm.
			</p>
			<p>
				Revize, test, düzeltme vs. derken sistemin hemen hemen her projesinde görev alsamda doğrudan arayüzünü oluşturduğum <span class="strfont">28 e-ticaret, 5-6 adette kurumsal</span> çalışmam mevcut.
			</p>
			<p>
				Bir kaç tane örnek; 
				<a class="no-d strfont" target="_blank" href="http://www.sporjinal.com/">sporjinal.com</a>,
				<a class="no-d strfont" target="_blank" href="http://www.tarzsaat.com/">tarzsaat.com</a>,
				<a class="no-d strfont" target="_blank" href="http://www.kravatci.com/">kravatci.com</a>,
				<a class="no-d strfont" target="_blank" href="https://www.simferbayi.com/">simferbayi.com</a>
				<a class="no-d strfont" target="_blank" href="http://www.rakipsite.com/">rakipsite.com</a>
			</p>
			<p>
				Çalıştığım altyapılar, frameworkler vb. : <span class="strfont">HTML, HTML5, CSS, CSS3, Javascript, Jquery, Bootstrap, Less, Sass, Susy, Compass, Python, Django, PHP, Wordpress</span>
			</p>
			</article>
			<article class="globalContainer pt10">
			<h3 class="strfont mt10 pt10">DEV Internet (2013 - Şuan)</h3>
			<p>
				<span class="strfont">DEV Internet</span> kendi projelerini hayata geçirmek için kurulmuş bir şirket, <span>front end developer</span> olarak görev alıyorum, politikalardan ötürü içeriklerden bahsedemesemde, tamamlanmış çalışmaları paylaşıcam.
			</p>
			<p>
				Çalışma(lar); 
				<a class="no-d strfont" target="_blank" href="http://www.havadurumu.com/">havadurumu.com</a>
			</p>
			<p>
				Çalıştığım altyapılar, frameworkler vb. : <span class="strfont">HTML, HTML5, CSS, CSS3, Javascript, Jquery, Ajax, Bootstrap, PHP, Zend2, Node</span>
			</p>
			</article>
			<article class="globalContainer pt10 pb10">
			<h3 class="strfont mt10 pt10">Kişisel (2010 - Şuan)</h3>
			<p>
				Çocukluktan başlayan hazır siteler, hazır kodlardan sonra <span class="strfont">Donanımhaber</span> forumlarında daha sonra yönetiminde bulunduğum sürede metin editörü kullanmak yerine textleri html'e benzer shortcode syntaxı ile hazırlamaya başlamıştım. <span class="strfont">Kerem</span> aracılığı ile tanıştığım HTML dilindede yabancılık çekmedim. 2010 yılında hazır olan herşeyi bir yana atıp profesyönel anlamda yapmaya başladım bu işi. Yine yapılan pek çok kişisel işte <span class="strfont">Kerem</span> ile birlikte birşeyler çıkarttık. Bu sürede <span class="strfont">Reident</span> çatısı altında pek çok iş yaptık.
			</p>
			<p>
				Bir kaç tane örnek; 
				<a class="no-d strfont" target="_blank" href="http://www.vendeka.com.tr/">vendeka.com.tr</a>,
				<a class="no-d strfont" target="_blank" href="http://www.entropi.com.tr/">entropi.com.tr</a>, 
				<a class="no-d strfont" target="_blank" href="http://www.turkcemanga.com/">turkcemanga.com</a>,
			</p>
			</article>
		</div>
{% endblock %}