{% extends "base.html" %}

{% block title %}{{post.title}} | Erhan Başa{% endblock %}

{% block keywords %}{{post.keywords}}{% endblock %}

{% block description %}{{post.description}}{% endblock %}

{% block Content %}
	<div id="Post">
		<div class="bl12 fc">
			<h2 class="pt10 fbl">{{post.title}}</h2>
			<div class="postInfo mt5 no-d">
				<span>{{post.date}} |</span>
				{% for cats in category%}
					<a href="/{{cats.slug}}">{{cats}}</a>
				{% endfor %}
			</div>
			<p class="postDesc p0 pb10">{{post.description}}</p>
			<div class="postImage">
			<img src="{{MEDIA_URL}}{{post.image}}" />
			</div>
			{{post.text|safe}}

			<ul class="categoryList mt10 pt10 no-l no-d">
				<h3>Kategoriler : </h3>
				{% for cat in category %}
					<li class="mt10">
						<a href="/{{cat.slug}}">
							{{cat}}
						</a>
					</li>
				{% endfor %}
			</ul>
		    <div id="disqus_thread" class="mt10"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'erhanbasa'; // required: replace example with your forum shortname

		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</div>
{% endblock %}